extends layout

block content
  script(src='/javascripts/texts.js')
  .container

    h1 SHA256 Hash
    .well#well1
      form.form-horizontal

        .form-group
          .col-sm-2
          .col-sm-2
            button#addSentence.form-control.btn.btn-primary Sentence
          .col-sm-4
            button#addArticle.form-control.btn.btn-primary NYTimes Article
          .col-sm-4
            button#addPlay.form-control.btn.btn-primary Shakespeare Play
        .form-group
          label.col-sm-2.control-label(for='data') Data:
          .col-sm-10
            textarea#data.form-control(rows='10', onkeyup='$("#hash").val(sha256())')

        .form-group
          label.col-sm-2.control-label(for='hash') Hash:
          .col-sm-8
            input#hash.form-control.hash-text(type='text', font-family='courier', disabled)
          .col-sm-2
            button#addHashButton.form-control.btn.btn-default.glyphicon.glyphicon-plus

    h2 Hashes
    ul#hash-list.list-unstyled.hash-text
    br
    br
    br

      
  script.

    function getText(block, chain) {
      return $('#data').val();
    }

    $("#addHashButton").click(function(e) {
      e.preventDefault();
      var li = document.createElement("li");
      
      collapseId = "collapse" + Date.now();

      var collapsedDiv = document.createElement("div");
      collapsedDiv.className += " collapse";
      collapsedDiv.setAttribute("id", collapseId);
      
      var inputWell = document.createElement("div");
      inputWell.className += "well input-well";

      var inputArea = document.createElement("textarea");
      inputArea.className="form-control";
      inputArea.setAttribute("disabled", true);
      inputArea.setAttribute("rows",10);
      inputArea.value = $("#data").val();

      inputWell.appendChild(inputArea);

      collapsedDiv.appendChild(inputWell);

      li.setAttribute("data-toggle", "collapse");
      li.setAttribute("data-target", "#" + collapseId);
      
      var newHashVal = document.createTextNode($("#hash").val());

      li.appendChild(newHashVal);
      li.appendChild(collapsedDiv);
      $("#hash-list").append(li);
      $(".input-well").click(function(e) {
        e.stopPropagation();
      })
    });

    $("#addSentence").click(function(e) {
      e.preventDefault();
      $("#data").val("This is a sentence.");
      $("#hash").val(sha256());
    });

    $("#addArticle").click(function(e) {
      e.preventDefault();
      $("#data").val(nytarticle);
      $("#hash").val(sha256());
    });

    $("#addPlay").click(function(e) {
      e.preventDefault();
      $("#data").val(shakespeareplay);
      $("#hash").val(sha256());
    });

    $("#hash").val(sha256());
