extends layout

block content

  .container
    h1 Blockchain Demo
    p.intro-text This is a live, interactive demo of how Blockchain works. This is intended as an educational tool and is for illustrative purposes only, to be used in class part of Columbia Business School's FinTech course. As such, certain liberties have been taken with some of the more elaborate technical matters pertaining to the protocol, all in the interest of simplifying the complexity of the subject matter.
    p.pull-right
     em This demo was inspired by the work of Anders Brownworth, and modified for class use by Prof. R.A. Farrokhnia and Adam Chelminski. 
