extends layout

block content
  .container-fluid
    h1 Tokens
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
    - each peer, chain in peers
      h3 Peer #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 9, txs: [{value: '25.00', from: 'Darcy', to: 'Bingley'},{value: '4.27', from: 'Elizabeth', to: 'Jane'},{value: '19.22', from: 'Wickham', to: 'Lydia'},{value: '106.44', from: 'Lady Catherine de Bourgh', to: 'Collins'},{value: '6.42', from: 'Charlotte', to: 'Elizabeth'}], difficulty: 1, previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 171, txs: [{value: '97.67', from: 'Ripley', to: 'Lambert'},{value: '48.61', from: 'Kane', to: 'Ash'},{value: '6.15', from: 'Parker', to: 'Dallas'},{value: '10.44', from: 'Hicks', to: 'Newt'},{value: '88.32', from: 'Bishop', to: 'Burke'},{value: '45.00', from: 'Hudson', to: 'Gorman'},{value: '92.00', from: 'Vasquez', to: 'Apone'}], difficulty: 2, previous: '02ac04d7fc8bfd17d0ef31a48f540b8d0e8eabd0be23d723e7412f9ca57419cc'})
        - blocks.push({block: 3, chain: chain, nonce: 5861, txs: [{value: '10.00', from: 'Emily', to: 'Jackson'},{value: '5.00', from: 'Madison', to: 'Jackson'},{value: '20.00', from: 'Lucas', to: 'Grace'}], difficulty: 3, previous: '006df1fa62a49b0f8be1ef26dee3e5554c6d0620e0f64446871f1d1055a53eeb'})
        - blocks.push({block: 4, chain: chain, nonce: 5548, txs: [{value: '62.19', from: 'Rick', to: 'Ilsa'},{value: '867.96', from: 'Captain Louis Renault', to: 'Strasser'},{value: '276.15', from: 'Victor Laszlo', to: 'Ilsa'},{value: '97.13', from: 'Rick', to: 'Sam'},{value: '119.63', from: 'Captain Louis Renault', to: 'Jan Brandel'}], difficulty: 4, previous: '0007a84278432be32cb2f506510eef5c33f52f24d59bda5b74827c0b16f5f21b'})
        - blocks.push({block: 5, chain: chain, nonce: 1358, txs: [{value: '14.12', from: 'Denise Lovett', to: 'Edmund Lovett'},{value: '2,760.29', from: 'Lord Glendenning', to: 'John Moray'},{value: '413.78', from: 'Katherine Glendenning', to: 'Miss Audrey'}], difficulty: 4, previous: '0000856202208f9e9108763f1d818ce7b1667d23e9be3b96e6c1fa450cafacab'})
        each block in blocks
          .col-xs-7
            include includes/tokenblock.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val();
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'difficulty').val();
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }

    $('.well').css('height', $('.row').css('height') );